/* Contenedor principal */
.auth-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2vw;
  padding: 2vw;
  background-color: var(--color-fondo);
  color: var(--color-texto-principal);
}

.auth-form-container {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 3vw;
  border-radius: 10px;
}

/* Formularios */
.auth-form {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.auth-form label {
  font-size: 1.7vw;
  color: var(--color-texto-secundario);
}

.auth-form input {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--color-texto-principal);
  border: 2px solid var(--color-boton);
  border-radius: 5px;
  padding: 1vw;
  font-size: 1.5vw;
  transition: border-color 0.3s ease;
}

.auth-form input:focus {
  border-color: var(--color-boton-hover);
  background-color: rgba(255, 255, 255, 0.2);
}

.auth-form .submit-btn {
  background-color: var(--color-boton);
  color: var(--color-texto-principal);
  border: none;
  padding: 1.5vw;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.auth-form .submit-btn:hover {
  background-color: var(--color-boton-hover);
}

/* Estilo para la sección de promoción */
.promocion-km {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 3vw;
  border-radius: 10px;
}

.promocion-km h2 {
  color: var(--color-acento);
  margin-bottom: 3.4vh;
}

.km-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2vw;
}

.km-img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.km-img:hover {
  transform: scale(1.05);
}

/* Cambiar el layout cuando el ancho sea de 700px o menos */
@media (max-width: 700px) {
  .contenedor.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .auth-form-container,
  .promocion-km {
    width: 100%;
  }
}
